In [52]:
import pandas as pd
import os
from datetime import datetime

pd.options.display.max_rows = 300
pd.options.display.max_columns = 300

In [4]:
REPORT_LOCATION = '~/Downloads'
SALES_RPT = 'Sole Comfort and Enchanted Art sales during period 08-20-2018 to 08-26-2018.csv'
INVENTORY_RPT = 'Sole Comfort and Enchanted Art inventory as of 08-26-2018.csv'

In [9]:
sales = pd.read_csv(os.path.expanduser(os.path.join(REPORT_LOCATION, SALES_RPT)))
sales = sales.drop('Unnamed: 0', axis=1)

inventory = pd.read_csv(os.path.expanduser(os.path.join(REPORT_LOCATION, INVENTORY_RPT)))
inventory = inventory.drop('Unnamed: 0', axis=1)

In [30]:
def process(listOlists):
    if len(listOlists) == 2:
        return listOlists[0].fillna('') + listOlists[1].fillna('')
    else:
        return listOlists[-1].fillna('') + process(listOlists[:-1])

In [79]:
sales['Key'] = process([sales['Vendor\r\nCode'], sales['Description1'], sales['Attribute'], sales['Size']])
sales[sales['Vendor\r\nCode']=='AET'].sort_values(by=['Description1', 'Attribute', 'Size'])
sales.loc[156, 'Key']

'38NAVYAETMIA BRAID STRAP'

In [80]:
inventory['Key'] = process([inventory['Vend Code'], inventory['Desc1'], inventory['Attr'], inventory['Size']])
inventory[inventory['Vend Code']=='AET'].sort_values(by=['Desc1', 'Attr', 'Size'])
inventory.loc[82, 'Key']

'38NAVYAETMIA BRAID STRAP'

In [81]:
sales.loc[156, 'Key'] == inventory.loc[82, 'Key']

True

In [83]:
sales_plus_inv = sales.merge(inventory, how='inner', left_on='Key', right_on = 'Key')

In [84]:
sales_plus_inv[sales_plus_inv['Vendor\r\nCode'] == 'AET']

,DCS Code,Vendor Code,Description1,Attribute,Size_x,UPC,QTY,Ext Price,Ext Cost,Ext Margin Amount,Margin %,Key,DCS,Vend Code,Desc1,Attr,Size_y,Qty,Price,Cost
8,W S,AET,EVIE BRAID TOE LOOP,GLDES552,39,NaN,-1.0,-119.95,-57.50,-62.45,52.06,39GLDES552AETEVIE BRAID TOE LOOP,W S,AET,EVIE BRAID TOE LOOP,GLDES552,39,1,119.95,57.5
27,W S,AET,MARIA JEWELED,GUNSE283,38,NaN,-1.0,-89.95,-45.00,-44.95,49.97,38GUNSE283AETMARIA JEWELED,W S,AET,MARIA JEWELED,GUNSE283,38,1,89.95,45.0
31,W S,AET,MIA BRAID STRAP,NAVY,38,NaN,1.0,149.95,72.50,77.45,51.65,38NAVYAETMIA BRAID STRAP,W S,AET,MIA BRAID STRAP,NAVY,38,1,149.95,72.5
37,W C,AET,ROBIN CLOG AETREX,FLW GARD,40,NaN,-1.0,-99.95,-50.00,-49.95,49.97,40FLW GARDAETROBIN CLOG AETREX,W C,AET,ROBIN CLOG AETREX,FLW GARD,40,2,199.90,100.0
38,W C,AET,ROBIN CLOG AETREX,FLW POW,37,NaN,1.0,99.95,50.00,49.95,49.97,37FLW POWAETROBIN CLOG AETREX,W C,AET,ROBIN CLOG AETREX,FLW POW,37,1,99.95,50.0

In [89]:
sales_report = sales_plus_inv[['Vend Code', 'Desc1', 'Attr', 'Size_x', 'QTY', 'Qty']]
sales_report.columns = ['Vendor Code', 'Style', 'Attribute', 'Size', 'Num Sold Last Week', 'Current Inventory']
sales_report[sales_report['Vendor Code'] == 'DAN']

,Vendor Code,Style,Attribute,Size,Num Sold Last Week,Current Inventory
13,DAN,HAYES DANSKO,BLK SUED,38,1.0,2
23,DAN,LORALIE DAN,BLACK,40,1.0,3
28,DAN,MARTINA DANSKO,BLKO,37,2.0,1
29,DAN,MARTINA DANSKO,BLKO,40,1.0,2
39,DAN,SHAINA DANSKO,BLKPU,38,1.0,1
41,DAN,SOPHIE DANSKO,BLKDRIZZ,39,1.0,2